@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1.menu-github {
    background-image: linear-gradient(to right,gray, white);
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
}

a#projeto {
    padding: 10px 0px 10px 5px;
}

a.github {
    text-decoration: none;
    color: black;    
}

a.github::after {
    content: '\0020\1F517';
}

a.github:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

a#desafio12 {
    float: left;
    color: white;  
    font-weight: normal; 
}

a#desafio12:hover {
    color: black;
    background-color: white;
}

a#projeto13 {
    position: absolute;   
    bottom: 0%;
    left: 0%;
    margin-left: 5px;
    margin-bottom: 5px;
}

footer#projeto-login > p {
    color: white;

}

footer#projeto-login > p {
    text-align: center;
}

a#esquerda {
    float: left;
}
