@charset "UTF-8";

@media screen and (min-width: 899px) {

    body {
        background: linear-gradient(to top, var(--cor1), var(--cor2));
    }

    section#login {
        width: 750px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }

    footer {
        background-color: var(--cor1);
        margin-top: 24px;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;  
        height: 100%;       
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
        height: 100%;
    }    
}
